section.game {
    min-height: 100svh;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
}

section.game .statistics {
    min-height: 100px;
    width: 100%;
    background: #f4f4f4cc;
    border: 1px solid #ccc8;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

section.game .scoreboard {
    width: max-content;
    max-width: calc(100svw - 4em);
    flex-grow: 1;
    mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    padding: 0 5%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

section.game .scoreboard::-webkit-scrollbar {
    display: none;
}

section.game .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    width: max-content;
    max-height: calc(100svh - calc(100px + 6em));
    background-color: #f4f4f4;
    border: 1px #ccc;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    transition: all 200ms linear;
}

section.game .player:not(.selected) .turn input {
    display: none;
}

section.game .player:not(.selected) {
    opacity: 0.75;
}

section.game .player:not(.selected):hover {
    opacity: 0.9;
}
 
section.game .player.selected {
    opacity: 1;
}

section.game .player h3{
    padding: 0.5em;
    font-variant: all-petite-caps;
}

section.game .player table th:last-child{
    width: 100%;
}
section.game .player table {
    width: 100%;
    max-height: 100%;
    margin: 0 1em 1em;
    padding: 1em;
    border-top: 1px solid #ccc9;
    border-bottom: 1px solid #ccc9;
    display: block;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
section.game .player table::-webkit-scrollbar {
    display: none;
}

section.game .turn td>span {
    padding: 0.2em 0.5em;
}

section.game .turn td {
    position: relative;
    padding: 0.5em 0.5em 0;
}

section.game .turn td>.modifier {
    position: absolute;
    bottom: 62%;
    font-size: 0.7em;
    transform: translateX(-14%);
    color: #333;
    text-decoration: underline;
}

section.game .turn input {
    width: 4em;
    border: 1px solid #e4e4e4;
    padding: 0.2em 0.5em;
    font-size: 1rem;
}

section.overlays>*:not(.backdrop):not(.visible),
section.overlays:not(.visible) {
    display: none;
}

section.overlays {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

section.overlays .backdrop {
    background: #2226;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

section.overlays .dart-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.overlays .board>span {
    position: absolute;
    filter: invert(100%);
    mix-blend-mode: difference;
    min-width: 4%;
    min-height: 4%;
    max-width: 4%;
    max-height: 5%;
    background-image: url("../files/target-svgrepo-com.svg");
}

section.overlays .board {
    position: relative;
    margin: 0;
    width: min-content;
    display: block;
}