body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.game {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0em;
}

section.statistics {
    display: flex;
    padding: 0;
    justify-content: space-around;
    min-height: 11em;
    width: 100%;
    background: #f4f4f4cc;
    border: 1px solid #ccc8;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
}

section.statistics > div {
    height: 11em;
    width:20%;
    max-width: 20%;
    min-width: 20%;
    background: #fffc;
    box-shadow: 0 1px 10px #eeec;
    flex-grow: 1;
}

section.game .scoreboard {
    width: max-content;
    max-width: calc(100svw - 4em);
    flex-grow: 1;
    mask-image: linear-gradient(to right, transparent 0%, black 2em, black calc(100% - 2em), transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 2em, black calc(100% - 2em), transparent 100%);
    padding: 0 2em;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

section.game .scoreboard::-webkit-scrollbar {
    display: none;
}

tr.turn:nth-child(2n) {
    background: #eee7;
}

section.game .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    width: max-content;
    max-height: calc(100svh - 15em);
    background-color: #f4f4f4;
    border: 1px #ccc;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    transition: all 200ms linear;
}

section.game .player:not(.selected) .turn input {
    display: none;
}

section.game .player:not(.selected) {
    opacity: 0.75;
}

section.game .player:not(.selected):hover {
    opacity: 0.9;
}
 
section.game .player.selected {
    opacity: 1;
}

section.game .player h3{
    padding: 0.5em;
    font-variant: all-petite-caps;
}

section.game .player table th:last-child{
    width: 100%;
}
section.game .player table {
    width: 100%;
    max-height: 100%;
    margin: 0 1em 1em;
    padding: 1em;
    border-top: 1px solid #ccc9;
    border-bottom: 1px solid #ccc9;
    display: block;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
section.game .player table::-webkit-scrollbar {
    display: none;
}

section.game .turn td>span {
    padding: 0.2em 0.5em;
}

section.game .turn td {
    position: relative;
    padding: 0.25em 0.5em;
}

section.game .turn .edit.pencil{
    float: inline-end;
    opacity: 0.8;
    transition: all 250ms linear;
}
section.game .turn .edit.pencil:hover{
    transform: scale(1.1);
    transform-origin: center;
    opacity: 1;
}

section.game .turn td>.modifier {
    position: absolute;
    bottom: 62%;
    font-size: 0.7em;
    transform: translateX(-14%);
    color: #333;
    text-decoration: underline;
}

section.game .turn input {
    width: 4em;
    border: 1px solid #e4e4e4;
    padding: 0.2em 0.5em;
    font-size: 1rem;
}

section.overlays>*:not(.backdrop):not(.visible),
section.overlays:not(.visible) {
    opacity: 0;
    pointer-events: none;
}

section.overlays {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity 250ms linear;
}
section.overlays.visible{
    pointer-events: all;
    opacity: 1;
}

section.overlays .backdrop {
    background: #2226;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

section.overlays .dart-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.overlays .board>span {
    position: absolute;
    filter: invert(100%);
    mix-blend-mode: difference;
    min-width: 4%;
    min-height: 4%;
    max-width: 4%;
    max-height: 5%;
    background-image: url("../files/target-svgrepo-com.svg");
}

section.overlays .board {
    position: relative;
    margin: 0;
    width: min-content;
    display: block;
}

section.overlays .win{
    opacity: 0;
    background: linear-gradient(90deg, transparent, white 20%, white 80%,transparent);
    border-top: 1px solid #ccc9;
    border-bottom: 1px solid #ccc9;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 1em;
    max-width: 1200px;
    min-width: 320px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    transition: opacity 250ms linear;
}
section.overlays .win.visible{
    opacity: 1;
}

section.overlays .win h3{
    text-transform: capitalize;
    font-variant-caps: small-caps;
    font-size: 1.5rem;
}

section.overlays .win .username{
    text-transform: capitalize;
    font-variant-caps: small-caps;
    text-decoration: underline;
    font-size: 2.5rem;
    margin-bottom: -0.333em;
    white-space-collapse: preserve;
}