section.game {
  flex-direction: row!important;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 2em;
  border: 1px #333 solid;
  box-shadow: 2px 2px 8px #0006;
  background: #12111277;
  border-radius: 2em;
}

.player .stats {
  margin-left: 2em;
  padding: 0.3em;
  background: #333;
  border-radius: 0.3em;
  float: right;
}

.player .stats .remaining {
  color: #faa;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.player .stats > * {
  padding: 0 0.2em;
}

.player .stats .average {
  font-size: .7em;
  color: #ccc;
}

.throw-input-group > input {
  width: 4em;
  max-width: 4em;
  text-align: center;
}

.throw-input-group > button > input::-webkit-outer-spin-button, .throw-input-group > button > input::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.throw-input-group > button > input {
  width: 3em;
  border: none;
  border-bottom: 1px solid #fff4;
  background: #9991;
}

section.game > .board > span {
  position: absolute;
  filter: invert(100%);
  mix-blend-mode: difference;
  min-width: 4%;
  min-height: 4%;
  max-width: 4%;
  max-height: 5%;
  background-image: url("../../assets/img/target-svgrepo-com.svg");
}

section.game > .board {
  position: relative;
  margin: 2em;
}

