section.game {
  flex-direction: row!important;
  flex-wrap: wrap;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  margin: 2em;
  border: 1px #333 solid;
  box-shadow: 2px 2px 8px #0006;
  background: #12111277;
  border-radius: 2em;
}

.player .stats {
  margin: 0 0.2em;
  padding: 0.2em;
}

.player .stats .remaining {
  color: #faa;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.player .stats > * {
  padding: 0 0.2em;
}

.player .stats .average {
  font-size: .7em;
}

